.box1 {
    width: 40px;
    height: 40px;
    
}

.box2 {
    width: 48px;
    height: 48px;
    
}

.box3 {
    width: 48px;
    height: 48px;
    
}

.box4 {
    width: 48px;
    height: 48px;
    
}

.box5 {
    width: 48px;
    height: 48px;
    
}

.box6 {
    width: 48px;
    height: 48px;
    
}



